.cart-container {
  margin: 3em auto;
}
.submit-form {
  display: grid;
  width: 100%;
  grid-gap: 40px;
  margin-bottom: 30px;
  margin-left: 0;
  padding: 0;
  grid-auto-flow: row dense;
  grid-template-columns: 2fr 1fr;
}
