/*
oragne: #FF9E01
green: #5F861F
yellow: #FFDE59 */

body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
}
/* Style for header */
header {
  padding-top: 0;
}
.company-logo {
  display: inline;
}

#logo {
  border-radius: 50%;
}

body {
  margin-bottom: 0px;
  background: -webkit-linear-gradient(#ffffff, #fff2cc);
  background: linear-gradient(#ffffff, #fff2cc);
  height: 100%;
  width: 100%;
}

h1 {
  color: #000000;
  text-decoration: none;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#home_page {
  height: 100%;
  width: 100%;
}

.footer_all {
  padding-top: 0.5%;
  padding-bottom: 2em;
  margin-bottom: -2em;
}

#footer_hr {
  border-top: 5px dotted #8faa62;
  width: 50%;
  align: center;
  clear: both;
}

footer {
  background: -webkit-linear-gradient(#fff2cc, #6f9235);
  background: linear-gradient(#fff2cc, #6f9235);
  clear: both;
}

.Page_footer {
  width: 100%;
  height: 10%;
  margin-top: 0;
  margin-bottom: 0;
}

.Page_footer li {
  text-align: center;
}

.Page_footer a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

/* Style for Mobile */
@media screen and (max-width: 480px) {
  .company-logo img {
    width: 20%;
    height: 20%;
  }

  .nav-mobile {
    float: right;
    padding-right: 0.5em;
    margin-top: 8%;
    font-size: 20px;
  }

  .nav-mobile a {
    text-decoration: none;
    color: #000000;
  }

  .nav-tab {
    display: none;
    visibility: hidden;
  }

  #banner {
    display: none;
    visibility: hidden;
  }

  #mobile_banner {
    width: 100%;
  }

  .main-tab {
    display: none;
    visibility: hidden;
  }

  .category_button {
    color: #ffffff;
    font-weight: bold;
    width: 80%;
    padding: 5%;
    margin: 5%;
    background-color: #5f861f;
  }

  .category_button:hover {
    background-color: #ffde59;
    font-size: 75%;
    color: #5f861f;
  }

  #map_col {
    display: none;
    visibility: hidden;
    border-right: 10%;
  }

  #form_col {
    border-right: 10%;
  }

  .offers {
    display: none;
    visibility: hidden;
  }
  .store-map {
    display: none;
    visibility: hidden;
  }
}

/* Media query for small tab devices such as Surface Duo */
@media screen and (min-width: 481px) and (max-width: 767px) {
  /* Style for mobile view
  Hiding the mobile navigation view  */
  .nav-mobile a {
    display: none;
    visibility: hidden;
  }

  /* Style for top navigation bar */
  .navigation-bar {
    background-color: #5f861f;
    height: 70px;
    width: 100%;
  }

  /* Style for logo in navigation bar */
  .navigation-bar img {
    float: left;
    width: auto;
    height: 70px;
  }

  /* Style for tabs in the top navigation menu */
  .nav-tab {
    height: 70px;
    display: inline-block;
    visibility: visible;
  }

  /* Style for the unordered list */
  .navigation-bar ul {
    padding: 0px;
    margin: 0px;
    display: inline-block;
    vertical-align: top;
    word-wrap: break-word;
    float: right;
  }

  /* Style for the li element */
  .navigation-bar li {
    list-style-type: none;
    padding: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline;
  }
  /* Style for the navigation links */
  .navigation-bar li a {
    color: rgb(245, 238, 238);
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 70px;
    padding: 20px 10px;
    color: #ffffff;
  }

  #mobile_banner {
    display: none;
    visibility: hidden;
  }

  #banner {
    width: 100%;
    height: 50%;
  }

  .main-mobile {
    display: none;
    visibility: hidden;
  }

  .main-tab {
    width: 100%;
    display: block;
    text-align: center;
  }

  .category {
    width: 35%;
    display: inline-block;
  }

  .offers {
    display: none;
    visibility: hidden;
  }
}

/* Media query for tabs */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* Style for mobile view
  Hiding the mobile navigation view  */
  .nav-mobile a {
    display: none;
    visibility: hidden;
  }

  /* Style for top navigation bar */
  .navigation-bar {
    background-color: #5f861f;
    height: 70px;
    width: 100%;
  }

  /* Style for logo in navigation bar */
  .navigation-bar img {
    float: left;
    width: auto;
    height: 70px;
  }

  /* Style for tabs in the top navigation menu */
  .nav-tab {
    height: 70px;
    display: inline-block;
    visibility: visible;
  }

  /* Style for the unordered list */
  .navigation-bar ul {
    padding: 0px;
    margin: 0px;
    display: inline-block;
    vertical-align: top;
    word-wrap: break-word;
    float: right;
  }

  /* Style for the li element */
  .navigation-bar li {
    list-style-type: none;
    padding: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline;
  }
  /* Style for the navigation links */
  .navigation-bar li a {
    color: rgb(245, 238, 238);
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 70px;
    padding: 20px 10px;
    color: #ffffff;
  }

  #mobile_banner {
    display: none;
    visibility: hidden;
  }

  #banner {
    width: 100%;
    height: 50%;
  }

  .main-mobile {
    display: none;
    visibility: hidden;
  }

  .main-tab {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
  }

  .category {
    width: 35%;
    display: inline-block;
  }

  .offers {
    display: none;
    visibility: hidden;
  }
  .store-map {
    width: 30%;
    display: inline;
    float: left;
    margin-left: 2%;
    margin-top: 1.5em;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .categories {
    display: none;
    visibility: hidden;
  }
  .nav-mobile a {
    display: none;
    visibility: hidden;
  }
  .item {
    width: 40%;
  }
  .company-logo img {
    width: 15%;
    height: 100%;
  }
  #navigation-container {
    width: 1200px;
    height: 70px;
  }
  #navigation-container img {
    float: left;
  }
  .navigation-bar {
    background-color: #5f861f;
    height: 70px;
    width: 100%;
    text-align: center;
  }

  .navigation-bar img {
    float: left;
  }

  .nav-tab {
    /* background-color: rgb(72, 141, 72); */
    background-color: #5f861f;
    width: 80%;
    height: 20%;
    display: inline-block;
    visibility: visible;
    /*padding: 0%*/
    float: right;
    /*margin-left:5%;*/
  }
  .nav-tab a {
    text-align: left;
    text-decoration: none;
    padding: 20px 10px;
    color: #ffffff;
  }
  .navigation-bar ul {
    padding: 0px;
    margin: 0px;
    text-align: right;
    display: inline-block;
    vertical-align: top;
    margin-top: 0px;
    float: right;
  }

  .navigation-bar li {
    list-style-type: none;
    padding: 0px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline;
  }

  .navigation-bar li a {
    color: rgb(245, 238, 238);
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 70px;
    /* padding: 5px 15px; */
    opacity: 0.7;
  }
  .store-map {
    width: 30%;
    display: inline;
    float: left;
    margin-left: 2em;
    margin-top: 1.5em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .categories {
    display: none;
    visibility: hidden;
  }
  .nav-mobile {
    display: none;
    visibility: hidden;
  }
  .item {
    width: 44%;
  }
  .nav-tab {
    /* background-color: rgb(72, 141, 72); */
    background-color: #5f861f;
    width: 80%;
    height: 20%;
    display: inline-block;
    visibility: visible;
    padding: 10px 0;
    float: right;
    margin-right: 5%;
  }
  .nav-tab a {
    text-align: left;
    text-decoration: none;
    padding: 20px 10px;
    color: #ffffff;
  }
  #navigation-container {
    width: 1200px;
    height: 70px;
  }
  #navigation-container img {
    float: left;
  }
  .navigation-bar {
    background-color: #5f861f;
    height: 70px;
    width: 100%;
    text-align: center;
  }

  .navigation-bar img {
    float: left;
    width: 15%;
    height: 100%;
  }

  .navigation-bar ul {
    padding: 0px;
    margin: 0px;
    text-align: right;
    display: inline-block;
    vertical-align: top;
    float: right;
  }

  .navigation-bar li {
    list-style-type: none;
    padding: 0px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline;
  }

  .navigation-bar li a {
    color: rgb(245, 238, 238);
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 70px;
    padding: 5px 15px;
    opacity: 0.7;
  }
  .store-map {
    width: 30%;
    display: block;
    margin-left: 2em;
    margin-top: 1.5em;
  }
}

@media screen and (min-width: 1025px) {
  header {
    background-color: #5f861f;
    height: 40%;
    width: 100%;
    text-align: center;
  }
  .nav-mobile a {
    display: none;
    visibility: hidden;
  }

  /* Style for top navigation bar */
  .navigation-bar {
    background-color: #5f861f;
    height: 70px;
    width: 100%;
  }

  /* Style for logo in navigation bar */
  .navigation-bar img {
    float: left;
    width: auto;
    height: 70px;
    margin-left: 2.5%;
  }

  /* Style for tabs in the top navigation menu */
  .nav-tab {
    height: 70px;
    display: inline-block;
    visibility: visible;
    float: right;
    margin-right: 5%;
  }

  /* Style for the unordered list */
  .navigation-bar ul {
    padding: 0px;
    margin: 0px;
    display: inline-block;
    vertical-align: top;
    word-wrap: break-word;
    float: right;
  }

  /* Style for the li element */
  .navigation-bar li {
    list-style-type: none;
    padding: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline;
  }
  /* Style for the navigation links */
  .navigation-bar li a {
    color: rgb(245, 238, 238);
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 70px;
    padding: 20px 10px;
    color: #ffffff;
  }

  #mobile_banner {
    display: none;
    visibility: hidden;
  }

  #banner {
    width: 100%;
    height: 40%;
  }

  .main-mobile {
    display: none;
    visibility: hidden;
  }

  .main-tab {
    display: inline-block;
    width: 65%;
    text-align: center;
    float: left;
    margin-top: 3%;
  }

  .category {
    width: 35%;
    display: inline-block;
  }

  .store-map {
    width: 30%;
    display: inline;
    float: left;
    margin-left: 2em;
    margin-top: 1.5em;
  }
}
