<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="stylesheet" href="../CSS/checkout.css">
    <title>My cart</title>
</head>

<body>
    <header>
        <div class="navigation-bar">
            <div class="company-logo">
                <a href="Home_page.html"><img id="logo" src="../Images/Logo.jfif"></a>
            </div>
            <nav class="nav-mobile">
                <a href="Home_page.html">Home &nbsp;</a>
                <a href="checkout.html">My cart &nbsp;</a>
            </nav>
            <nav class="nav-tab">
                <ul>
                    <li><a href="Home_page.html">Home</a></li>
                    <li><a href="grocery.html">Products</a></li>
                    <li><a href="about_us.html">About Us</a></li>
                    <li><a href="contact_us.html">Get in Touch</a></li>
                    <li><a href="checkout.html">My cart</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="checkout-banner">

        </div>

        <div class="cart">
            <h2>Cart</h2>
            <table>
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <img src="../Images/Grocery/brocolli.jpg" alt="Brocolli">
                            <p>Brocolli</p>

                            <!-- <select name="products" id="">
                                <option value="brocolli">Brocolli</option>
                                <option value="green-pepper">Green Peppers</option>
                                <option value="egg">Eggs</option>
                                <option value="curd">Curd</option>
                                <option value="tomato">Tomato</option>
                            </select> -->
                        </td>
                        <td>$1.99</td>
                        <td><input type="number" min="1" max="10"></td>
                        <td>$1.99</td>

                    </tr>
                    <tr>
                        <td>
                            <img src="../Images/Grocery/Greengrapes.png" alt="Grapes">
                            <p>Grapes</p>
                        </td>
                        <td>$6.99</td>
                        <td><input type="number" min="1" max="10"></td>
                        <td>$6.99</td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../Images/Produce/eggs.png" alt="Eggs">
                            <p>Eggs</p>
                        </td>
                        <td>$8.99</td>
                        <td><input type="number" min="1" max="10"></td>
                        <td>$8.99</td>
                    </tr>

                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">Subtotal : </td>
                        <td>17.97</td>
                    </tr>
                </tfoot>
            </table>
            <a href="products.html"><button class="add-items">Add items</button></a>

        </div>
        <div class="checkout">
            <form action="mailto:pyarel.fer@gmail.com" method="post">
                <h2>Checkout</h2>
                <p style="margin: 0;padding: 0;"><i>Contact Information</i></p>
                <label for="email-address">Email <sup>*</sup></label>
                <input type="email" name="email" id="email-address" required>
                <label for="full-name">Full Name<sup>*</sup></label>
                <input type="text" name="fullname" id="full-name" required>
                <label for="address">Address<sup>*</sup></label>
                <input type="text" name="address" id="address" required>
                <label for="city">City<sup>*</sup></label>
                <input type="text" name="city" id="city" value="Scarborough" readonly>
                <label for="country">Country<sup>*</sup></label>
                <input type="text" name="country" id="country" value="Canada" readonly>
                <label for="postal">Postal Code<sup>*</sup></label>
                <input type="text" name="postal" id="postal" required>
                <label for="phone">Phone Number<sup>*</sup></label>
                <input type="number" name="phone" id="phone" required>
                <input type="submit" class="submit" value="Place Order">
            </form>
        </div>
    </main>


    <footer class="footer_all">
        <hr id="footer_hr">
        <div class="Page_footer">
            <ul type="none" margin=0;>
                <li><a href="Home_page.html">Home</a></li>
                <li><a href="grocery.html">Products</a></li>
                <li><a href="about_us.html">About Us</a></li>
                <li><a href="contact_us.html">Get in Touch</a></li>
                <li><a href="https://www.instagram.com/_what_aye_see_/">Follow us on <img
                            src="../Images/About_us/inst.png" style="margin-bottom:-4px;"></a></li>
                <li><a href="#">&copy; Image Credits : <u>iStock.com</u> and <u>schoolproject.com</u> </a></li>
            </ul>
        </div>
    </footer>

</body>

</html>