<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <title>Document</title>
</head>

<body>

  <head>
    <title>Edit Profile</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style.css">
    <script src="../Script/profile.js"></script>
  </head>
  <div class="profile-container">
    <form id="edit-profile-form" class="form-container">
      <div class="card-header"></div>
      <h2>Edit Profile</h2>
      <label for="first-name">First Name</label>
      <input type="text" id="first-name" name="first-name" class="form-input" required>

      <label for="last-name">Last Name</label>
      <input type="text" id="last-name" name="last-name" class="form-input" required>

      <label for="username">Username</label>
      <input type="text" id="username" name="username" class="form-input" required>

      <label for="email">Email</label>
      <input type="email" id="email" name="email" class="form-input" required>

      <label for="password">Password</label>
      <input type="password" id="password" name="password" class="form-input" required>

      <label for="confirm-password">Confirm Password</label>
      <input type="password" id="confirm-password" name="confirm-password" class="form-input" required>

      <button type="submit" class="form-submit">Save Changes</button>
    </form>
  </div>

</body>

</html>