<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="stylesheet" href="../CSS/Products.css">
    <title>fashion</title>

</head>

<body>
    <header>
        <div class="navigation-bar">
            <div class="company-logo">
                <a href="Home_page.html"><img id="logo" src="../Images/Logo.jfif"></a>
            </div>
            <nav class="nav-mobile">
                <a href="Home_page.html">Home &nbsp;</a>
                <a href="checkout.html">My cart &nbsp;</a>
            </nav>
            <nav class="nav-tab">
                <ul>
                    <li><a href="Home_page.html">Home</a></li>
                    <li><a href="produce.html">Products</a></li>
                    <li><a href="about_us.html">About Us</a></li>
                    <li><a href="contact_us.html">Get in Touch</a></li>
                    <li><a href="checkout.html">My cart</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <!-- Categories for mobile -->
        <div class="categories-mobile">
            <p>Categories</p>
            <a href="grocery.html">Grocery</a>
            <a href="produce.html">Produce</a>
            <a href="fashion.html">Fashion</a>
            <a href="electronics.html">Electronics</a>
        </div>

        <div class="category-name">
            <p>Fashion</p>
        </div>
        <!-- Categories for tabs & desktop -->
        <div class="categories">
            <div class="categories-tab">
                <p>Categories</p>
                <ul>
                    <li><a href="grocery.html">Grocery</a></li>
                    <li><a href="produce.html">Produce</a></li>
                    <li><a href="fashion.html">Fashion</a></li>
                    <li><a href="electronics.html">Electronics</a></li>
                </ul>
            </div>
            <div class="daily-deals">
                <p>Daily Deals</p>
                <ul>
                    <li><img src="../Images/Fashion/womenwear2.png" alt="womenwear"><i>Upto 50% off on clothing!!</i>
                    </li>
                    <li><img src="../Images/Fashion/menboot2.png" alt="menboot"><i>Limited time offer on Shoes &
                            accessories</i>
                    </li>
                    <li><img src="../Images/Fashion/wristwatch for men.png" alt="watch"><i>Best offer!! Festive
                            Discount</i>
                    </li>

                </ul>
            </div>
        </div>

        <div class="products">

            <div class="item">
                <div class="item-image"><img src="../Images/Fashion/menboot2.png" alt="product image"></div>
                <hr>
                <div class="item-price"><b>$22<sup>99</sup></b></div>
                <div class="item-name">Sneakers</div>
            </div>
            <div class="item">
                <div class="item-image"><img src="../Images/Fashion/menfashion1.png" alt="product image"></div>
                <hr>
                <div class="item-price"><b>$17.50 ea</b></div>
                <div class="item-name">Men's Tee</div>
            </div>
            <div class="item">
                <div class="item-image"><img src="../Images/Fashion/menfashion2.png" alt="product image"></div>
                <hr>
                <div class="item-price"><b>$24<sup>99</sup>ea</b></div>
                <div class="item-name">Men's Jacket</div>
            </div>
            <div class="item">
                <div class="item-image"><img src="../Images/Fashion/womens hat.png" alt="product image"></div>
                <hr>
                <div class="item-price"><b>$13.30 ea</b></div>
                <div class="item-name">Women's hat</div>
            </div>
            <div class="item">
                <div class="item-image"><img src="../Images/Fashion/womenshoe2.png" alt="product image"></div>
                <hr>
                <div class="item-price"><b>$60.70 ea</b></div>
                <div class="item-name">Women's Boots</div>
            </div>
            <div class="item">
                <div class="item-image"><img src="../Images/Fashion/womenwear1.png" alt="product image"></div>
                <hr>
                <div class="item-price"><b>$35.45 ea</b></div>
                <div class="item-name">Off white</div>
            </div>
            <div class="item">
                <div class="item-image"><img src="../Images/Fashion/womenwear2.png" alt="product image"></div>
                <hr>
                <div class="item-price"><b>$36.45 ea</b></div>
                <div class="item-name">Dress</div>
            </div>
            <div class="item">
                <div class="item-image"><img src="../Images/Fashion/womenwear3.png" alt="product image"></div>
                <hr>
                <div class="item-price"><b>$16.75 ea</b></div>
                <div class="item-name">White Tee</div>
            </div>
            <div class="item">
                <div class="item-image"><img src="../Images/Fashion/wristwatch for men.png" alt="product image"></div>
                <hr>
                <div class="item-price"><b>$96.50 ea</b></div>
                <div class="item-name">Wrist Watch</div>
            </div>
        </div>

    </main>


    <footer class="footer_all">
        <hr id="footer_hr">
        <div class="Page_footer">
            <ul type="none" margin=0;>
                <li><a href="Home_page.html">Home</a></li>
                <li><a href="grocery.html">Products</a></li>
                <li><a href="about_us.html">About Us</a></li>
                <li><a href="contact.html">Get in Touch</a></li>
                <li><a href="https://www.instagram.com/_what_aye_see_/">Follow us on <img
                            src="../Images/About_us/inst.png" style="margin-bottom:-4px;"></a></li>
                <li><a href="#">&copy; Image Credits : <u>iStock.com</u> and <u>schoolproject.com</u> </a></li>
            </ul>
        </div>
    </footer>
</body>

</html>