<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="stylesheet" href="../CSS/Products.css">
    <title>Grocery</title>
    <style>

    </style>
</head>

<body>
    <header>
        <div class="navigation-bar">
            <div class="company-logo">
                <a href="Home_page.html"><img id="logo" src="../Images/Logo.jfif"></a>
            </div>
            <nav class="nav-mobile">
                <a href="Home_page.html">Home &nbsp;</a>
                <a href="checkout.html">My cart &nbsp;</a>
            </nav>
            <nav class="nav-tab">
                <ul>
                    <li><a href="Home_page.html">Home</a></li>
                    <li><a href="grocery.html">Products</a></li>
                    <li><a href="about_us.html">About Us</a></li>
                    <li><a href="contact_us.html">Get in Touch</a></li>
                    <li><a href="checkout.html">My cart</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <!-- Categories for mobile -->
        <div class="categories-mobile">
            <p>Categories</p>
            <a href="grocery.html">Grocery</a>
            <a href="produce.html">Produce</a>
            <a href="fashion.html">Fashion</a>
            <a href="electronics.html">Electronics</a>
        </div>

        <div class="category-name">
            <p>Grocery</p>
        </div>
        <!-- Categories for tabs & desktop -->
        <div class="categories">
            <div class="categories-tab">
                <p>Categories</p>
                <ul>
                    <li><a href="grocery.html">Grocery</a></li>
                    <li><a href="produce.html">Produce</a></li>
                    <li><a href="fashion.html">Fashion</a></li>
                    <li><a href="electronics.html">Electronics</a></li>
                </ul>
            </div>
            <div class="daily-deals">
                <p>Daily Deals</p>
                <ul>
                    <li><img src="../Images/Grocery/bananas.jpg" alt="bananas"><i>Special deal on bananas</i></li>
                    <li><img src="../Images/Grocery/Clementines.png" alt="Clementines"><i>Limited Discount on
                            Clementines</i></li>
                    <li><img src="../Images/Grocery/Greengrapes.png" alt="Grapes"><i>Best offer!! Festive Discount</i>
                    </li>

                </ul>
            </div>
        </div>

        <div class="products">

            <div class="item">

                <div class="item-image"><img class="img-item" src="../Images/Grocery/yippee.png" alt="Product Image">
                </div>
                <hr>
                <div class="item-price"><b>$1.50 ea</b></div>
                <div class="item-name">Yipee Noodels</div>
            </div>


            <div class="item">

                <div class="item-image"><img class="img-item" src="../Images/Grocery/rasberryjam.png"
                        alt="Product Image">
                </div>
                <hr>
                <div class="item-price"><b>$6.50 ea</b></div>
                <div class="item-name">Raspberry Jam</div>
            </div>
            <div class="item">

                <div class="item-image"><img class="img-item" src="../Images/Grocery/quackeroats.png"
                        alt="Product Image">
                </div>
                <hr>
                <div class="item-price"><b>$2<sup>99</sup>ea</b></div>
                <div class="item-name">Quaker Oats</div>
            </div>
            <div class="item">

                <div class="item-image"><img class="img-item" src="../Images/Grocery/potatochips.png"
                        alt="Product Image">
                </div>
                <hr>
                <div class="item-price"><b>$1<sup>99</sup>ea</b></div>
                <div class="item-name">Potato Chips</div>
            </div>
            <div class="item">

                <div class="item-image"><img src="../Images/Produce/curd.jpg" alt="Product Image"></div>
                <hr>
                <div>
                    <div class="item-price"><b>$3<sup>99</sup></b></div>
                    <div class="item-name">Astro Curd</div>
                </div>

            </div>
            <div class="item">

                <div class="item-image"><img src="../Images/Produce/milk.png" alt="Product Image"></div>
                <hr>
                <div class="item-price"><b>$8<sup>99</sup></b></div>
                <div class="item-name">Milk</div>
            </div>
            <div class="item">

                <div class="item-image"><img class="img-item" src="../Images/Grocery/Konjacnoodles.png"
                        alt="Product Image">
                </div>
                <hr>
                <div class="item-price"><b>$1<sup>99</sup>ea</b></div>
                <div class="item-name">Konjac Noodles</div>
            </div>
            <div class="item">

                <div class="item-image"><img class="img-item" src="../Images/Grocery/ifreshcoffee.png"
                        alt="Product Image">
                </div>
                <hr>
                <div class="item-price"><b>$2<sup>99</sup>ea</b></div>
                <div class="item-name">Fresh Coffee</div>
            </div>
            <div class="item">

                <div class="item-image"><img class="img-item" src="../Images/Grocery/detergent.png" alt="Product Image">
                </div>
                <hr>
                <div class="item-price"><b>$4<sup>99</sup>ea</b></div>
                <div class="item-name">Detergent</div>
            </div>


            <div class="item">

                <div class="item-image"><img class="img-item" src="../Images/Grocery/Maggenoodles.png"
                        alt="Product Image">
                </div>
                <hr>
                <div class="item-price"><b>$1<sup>99</sup>ea</b></div>
                <div class="item-name">Maggi Noodles</div>
            </div>
            <div class="item">

                <div class="item-image"><img class="img-item" src="../Images/Grocery/bodywash.png" alt="Product Image">
                </div>
                <hr>
                <div class="item-price"><b>$7<sup>99</sup>ea</b></div>
                <div class="item-name">Body Wash</div>
            </div>
    </main>


    <footer class="footer_all">
        <hr id="footer_hr">
        <div class="Page_footer">
            <ul type="none" margin=0;>
                <li><a href="Home_page.html">Home</a></li>
                <li><a href="grocery.html">Products</a></li>
                <li><a href="about_us.html">About Us</a></li>
                <li><a href="contact_us.html">Get in Touch</a></li>
                <li><a href="https://www.instagram.com/_what_aye_see_/">Follow us on <img
                            src="../Images/About_us/inst.png" style="margin-bottom:-4px;"></a></li>
                <li><a href="#">&copy; Image Credits : <u>iStock.com</u> and <u>schoolproject.com</u> </a></li>
            </ul>
        </div>
    </footer>

</body>

</html>