<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../CSS/style.css">
  <link rel="stylesheet" href="../CSS/Products.css">
  <title>Home Page</title>
</head>

<body>
  <header>
    <div class="navigation-bar">
      <div class="company-logo">
        <a href="Home_page.html"><img id="logo" src="../Images/Logo.jfif"></a>
      </div>
      <nav class="nav-mobile">
        <a href="Home_page.html">Home &nbsp;</a>
        <a href="checkout.html">My cart &nbsp;</a>
      </nav>
      <nav class="nav-tab">
        <ul>
          <li><a href="Home_page.html">Home</a></li>
          <li><a href="grocery.html">Products</a></li>
          <li><a href="about_us.html">About Us</a></li>
          <li><a href="contact_us.html">Get in Touch</a></li>
          <li><a href="checkout.html">My cart</a></li>
        </ul>
      </nav>
    </div>
    <a href="produce.html"><img id="mobile_banner" src="../Images/Home_page/Mobile_banner.png" alt="banner"></a>
    <a href="produce.html"><img id="banner" src="../Images/Home_page/banner.jpg" alt="banner"></a>
  </header>

  <main id="home_page">
    <div class="main-mobile" align="center">
      <h1>SHOP BY CATEGORIES<h1>
          <input class="category_button" id="grocery_button" type="button" value="GROCERY"
            onclick="window.location.href='grocery.html';"><br>
          <input class="category_button" id="produce_button" type="button" value="PRODUCE"
            onclick="window.location.href='produce.html';"><br>
          <input class="category_button" id="fashion_button" type="button" value="FASHION"
            onclick="window.location.href='fashion.html';"><br>
          <input class="category_button" id="electronic_button" type="button" value="ELECTRIONICS"
            onclick="window.location.href='electronics.html';">
    </div>

    <div class="offers">
      <div class="daily_offers">
        <p>Daily Deals</p>
        <ul>
          <li><img src="../Images/Produce/chicken.png" alt="chicken"><i>Special deal on Meat & produce</i>
          </li>
          <li><img src="../Images/Produce/cutsalmon.png" alt="Clementines"><i>Limited time Discount!! </i>
          </li>
          <li><img src="../Images/Produce/eggs.png" alt="eggs"><i>Best offer!! Festive Discount</i>
          </li>

        </ul>
      </div>
    </div>
    <div class="main-tab">
      <h1>SHOP BY CATEGORIES</h1>
      <div class="category">
        <a class="category_icon" href="grocery.html"><img src="../Images/Home_page/grocery.png"></a>
        <h3><a href=" " style="text-decoration:none;color:#000000;">GROCERY</a></h3>
      </div>
      <div class="category">
        <a class="category_icon" href="produce.html"><img src="../Images/Home_page/produce.png"></a>
        <h3><a href="produce.html" style="text-decoration:none;color:#000000;">PRODUCE</a></h3>
      </div>
      <div class="category">
        <a class="category_icon" href="fashion.html"><img src="../Images/Home_page/fashion.png"></a>
        <h3><a href="fashion.html" style="text-decoration:none;color:#000000;">FASHION</a></h3>
      </div>
      <div class="category">
        <a class="category_icon" href="electronics.html"><img src="../Images/Home_page/electronics.png"></a>
        <h3><a href="electronics.html" style="text-decoration:none;color:#000000;">ELECTRONICS</a></h3>
      </div>
    </div>
    </div>
  </main>


  <footer class="footer_all">
    <hr id="footer_hr">
    <div class="Page_footer">
      <ul type="none" margin=0;>
        <li><a href="Home_page.html">Home</a></li>
        <li><a href="grocery.html">Products</a></li>
        <li><a href="about_us.html">About Us</a></li>
        <li><a href="contact_us.html">Get in Touch</a></li>
        <li><a href="https://www.instagram.com/_what_aye_see_/">Follow us on <img src="../Images/About_us/inst.png"
              style="margin-bottom:-4px;"></a></li>
        <li><a href="#">&copy; Image Credits : <u>iStock.com</u> and <u>schoolproject.com</u> </a></li>
      </ul>
    </div>
  </footer>
</body>


</html>