<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>Login Page</title>
    <link rel="stylesheet" href="../CSS/Login_Style.css">
</head>

<body>
    <form class="login-form" action="index.html" onsubmit="return validateForm()">
        <h2>Login to your account</h2>
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
            <span id="username-error" class="error"></span>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            <span id="password-error" class="error"></span>
        </div>
        <div>
            <input type="submit" value="Login"><br><br>
            or
            <input type="button" id="Registration-btn" value="Register"
                onclick="window.location.href='registration.html'">here.
        </div>
    </form>
    <script src="../Script/Login_Script.js"></script>
</body>

</html>