<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="stylesheet" href="../CSS/Products.css">
    <title>Produce</title>
</head>

<body>
    <header>
        <div class="navigation-bar">
            <div class="company-logo">
                <a href="Home_page.html"><img id="logo" src="../Images/Logo.jfif"></a>
            </div>
            <nav class="nav-mobile">
                <a href="Home_page.html">Home &nbsp;</a>
                <a href="checkout.html">My cart &nbsp;</a>
            </nav>
            <nav class="nav-tab">
                <ul>
                    <li><a href="Home_page.html">Home</a></li>
                    <li><a href="grocery.html">Products</a></li>
                    <li><a href="about_us.html">About Us</a></li>
                    <li><a href="contact_us.html">Get in Touch</a></li>
                    <li><a href="checkout.html">My cart</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <!-- Categories for mobile -->
        <div class="categories-mobile">
            <p>Categories</p>
            <a href="grocery.html">Grocery</a>
            <a href="produce.html">Produce</a>
            <a href="fashion.html">Fashion</a>
            <a href="electronics.html">Electronics</a>
        </div>

        <div class="category-name">
            <p>Produce</p>
        </div>
        <!-- Categories for tabs & desktop -->
        <div class="categories">
            <div class="categories-tab">
                <p>Categories</p>
                <ul>
                    <li><a href="grocery.html">Grocery</a></li>
                    <li><a href="produce.html">Produce</a></li>
                    <li><a href="fashion.html">Fashion</a></li>
                    <li><a href="electronics.html">Electronics</a></li>
                </ul>
            </div>
            <div class="daily-deals">
                <p>Daily Deals</p>
                <ul>
                    <li><img src="../Images/Produce/chicken.png" alt="chicken"><i>Special deal on Meat & produce</i>
                    </li>
                    <li><img src="../Images/Produce/cutsalmon.png" alt="Clementines"><i>Limited time Discount!! </i>
                    </li>
                    <li><img src="../Images/Produce/eggs.png" alt="eggs"><i>Best offer!! Festive Discount</i>
                    </li>

                </ul>
            </div>
        </div>

        <div class="products">


            <div class="item">

                <div class="item-image"><img src="../Images/Produce/eggs.png" alt="Product Image"></div>
                <hr>
                <div class="item-price"><b>$8<sup>99</sup></b></div>
                <div class="item-name">Eggs</div>
            </div>
            <div class="item">

                <div class="item-image"><img src="../Images/Produce/chicken.png" alt="Curd"></div>
                <hr>
                <div class="item-price"><b>$10<sup>99</sup></b></div>
                <div class="item-name">Meat</div>
            </div>
            <div class="item">

                <div class="item-image"><img src="../Images/Produce/cutsalmon.png" alt="Curd"></div>
                <hr>
                <div class="item-price"><b>$33<sup>99</sup></b></div>
                <div class="item-name">Salmon</div>
            </div>
            <div class="item">

                <div class="item-image"><img src="../Images/Produce/fish.png" alt="Curd"></div>
                <hr>
                <div class="item-price"><b>$19<sup>99</sup></b></div>
                <div class="item-name">Mackeral</div>
            </div>
            <div class="item">

                <div class="item-image"><img src="../Images/Grocery/tomatoes.png" alt="Product Image"></div>
                <hr>
                <div class="item-price"><b>$0.99 ea</b></div>
                <div class="item-name">Tomatoes</div>
            </div>
            <div class="item">

                <div class="item-image"><img src="../Images/Grocery/brocolli.jpg" alt="Product Image"></div>
                <hr>
                <div class="item-price"><b>$1<sup>99</sup>ea</b></div>
                <div class="item-name">Brocolli</div>
            </div>
            <div class="item">

                <div class="item-image"><img src="../Images/Grocery/capsicum.png" alt="Product Image"></div>
                <hr>
                <div class="item-price"><b>$2.15 ea</b></div>
                <div class="item-name">Green Pepper</div>
            </div>
            <div class="item">

                <div class="item-image"><img src="../Images/Grocery/bananas.jpg" alt="Product Image"></div>
                <hr>
                <div class="item-price"><b>$4.50 ea</b></div>
                <div class="item-name">Bananas</div>
            </div>
            <div class="item">

                <div class="item-image"><img src="../Images/Grocery/Clementines.png" alt="Product Image"></div>
                <hr>
                <div class="item-price"><b>$2.50 ea</b></div>
                <div class="item-name">Clementines</div>
            </div>
            <div class="item">

                <div class="item-image"><img src="../Images/Grocery/apples.jpg" alt="Product Image"></div>
                <hr>
                <div class="item-price"><b>$4.50 ea</b></div>
                <div class="item-name">Apple</div>
            </div>
            <div class="item">

                <div class="item-image"><img src="../Images/Grocery/Greengrapes.png" alt="Product Image"></div>
                <hr>
                <div class="item-price"><b>$2.50 ea</b></div>
                <div class="item-name">Green Grapes</div>
            </div>
            <div class="item">

                <div class="item-image"><img src="../Images/Grocery/pumpkin.jpg" alt="Product Image"></div>
                <hr>
                <div class="item-price"><b>$3.10 ea</b></div>
                <div class="item-name">Pumpkin</div>
            </div>
            <div class="item">

                <div class="item-image"><img class="img-item" src="../Images/Grocery/potatoes.png" alt="Product Image">
                </div>
                <hr>
                <div class="item-price"><b>$5.10 ea</b></div>
                <div class="item-name">Potatoes</div>
            </div>
            <div class="item">

                <div class="item-image"><img class="img-item" src="../Images/Grocery/mushrooms.png" alt="Product Image">
                </div>
                <hr>
                <div class="item-price"><b>$4<sup>99</sup> ea</b></div>
                <div class="item-name">Mushrooms</div>
            </div>
            <div class="item">

                <div class="item-image"><img class="img-item" src="../Images/Grocery/brinjals.png" alt="Product Image">
                </div>
                <hr>
                <div class="item-price"><b>$4.15 ea</b></div>
                <div class="item-name">Brinjals</div>
            </div>

    </main>

    <footer class="footer_all">
        <hr id="footer_hr">
        <div class="Page_footer">
            <ul type="none" margin=0;>
                <li><a href="Home_page.html">Home</a></li>
                <li><a href="grocery.html">Products</a></li>
                <li><a href="about_us.html">About Us</a></li>
                <li><a href="contact_us.html">Get in Touch</a></li>
                <li><a href="https://www.instagram.com/_what_aye_see_/">Follow us on <img
                            src="../Images/About_us/inst.png" style="margin-bottom:-4px;"></a></li>
                <li><a href="#">&copy; Image Credits : <u>iStock.com</u> and <u>schoolproject.com</u> </a></li>
            </ul>
        </div>
    </footer>

</body>

</html>